{% extends 'nav.html' %}
	{% block content %}     
	<div class="container">
		<h3>Meus Eventos</h3>
		<p>{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}</p>
		<table class="highlight">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horario</th>
					<th></th>
				</tr>
			</thead>
			<tbody>{%for e in mEventos%}
				<tr>
					<td ><span>{{e.nome}}</span></a></td>
					<td>{{e.local}}</td>
					<td>{{e.data|date:'d/m/Y'}}</td>
					<td>{{e.horario|time:'H:i'}}</td>
					<td><a href="{% url 'editarEvento' e.id %}"
						class="small material-icons" type="button">edit
					</a></td>
					<td><a
						href="{% url 'deletarEvento' e.id %}"
						class="small material-icons" type="button">delete</a></td>
					<td><a
						href="{% url 'detalharEvento' e.id %}"
						class="small material-icons" type="button">description</a></td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
	{%endblock%}     